# PYTHON BASICS

In [1]:
a=10

In [ ]:
print (a)

10

In [ ]:
print (type(a))

<class 'int'>

## DATATYPES

In [4]:
a = 183
b = 103.4

In [5]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
a = float(a)
print (type(a))

<class 'float'>

In [ ]:
c = "hello"
print (c)

hello

In [ ]:
d = 1+0j

In [ ]:
print (type(d))

<class 'complex'>

In [ ]:
e = None
print (type(e))

<class 'NoneType'>

In [ ]:
f = True
print (type(f))

<class 'bool'>

## OPERATORS

### ARITHMETIC OPERATORS

In [ ]:
15/4

3.75

In [ ]:
10+2

12

In [ ]:
13-4

9

In [ ]:
print (12*3)

36

In [ ]:
print (18//4)

4

In [ ]:
18%4

2

In [ ]:
a,b

(0.0, 103.4)

In [ ]:
print("a+b=",a+b,sep="  ")
print("a-b=",a-b,sep="  ")
print("a*b=", a*b)
print ("a**b=",a**b, sep="  ")

a+b=  103.4
a-b=  -103.4
a*b= 0.0
a**b=  0.0

In [ ]:
a

0.0

In [ ]:
a=a+2
print (a)

2.0

In [ ]:
a+=2
print(a)

4.0

In [ ]:
a-=2
print(a)

2.0

In [ ]:
a*=2
print (a)

4.0

In [ ]:
a/=2
print(a)

2.0

In [ ]:
a%=2
print (a)

0.0

In [ ]:
10==10

True

In [ ]:
4**2**3

65536

In [ ]:
4**8

65536

### LOGICAL OPERATORS

In [ ]:
'10'==10

False

In [ ]:
1 and 1

1

In [ ]:
bool(2 and "")

False

In [ ]:
bool(None)

False

In [ ]:
bool("")

False

In [ ]:
bool(0)

False

In [ ]:
bool({})

False

In [ ]:
bool([])

False

In [ ]:
1 and 0 or True

True

In [ ]:
1 or 0 and True

1

In [ ]:
not 1

False

In [ ]:
not True

False

In [ ]:
not 0

True

### BITWISE OPERATORS

In [ ]:
7 & 8

0

In [ ]:
7|8

15

In [ ]:
0b1111

15

In [ ]:
0x1111

4369

In [ ]:
0xf

15

In [ ]:
0o111

73

In [ ]:
0o1111

585

In [ ]:
~10

-11

In [ ]:
~-11

10

In [ ]:
7^8

15

In [ ]:
8^8

0

In [ ]:
7>>2

1

In [ ]:
7<<2

28

## BUILT-IN FUNCTIONS

In [ ]:
chr(65)

'A'

In [ ]:
ord('A')

65

In [ ]:
ord('0')

48

In [ ]:
chr(9)

'\t'

In [ ]:
print (id(a))

140348511912464

# IF-ELSE STATEMENTS

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
    print (num)
else:
    print ("NEGATIVE")

POSITIVE
10

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
       print (num)
    else:
    print ("NEGATIVE")

IndentationError: unexpected indent (3346571938.py, line 4)

In [ ]:
num = 10
if num>0:

SyntaxError: incomplete input (3316007750.py, line 2)

In [ ]:
num = 10
if num>0:
   pass

In [ ]:
if False:
    print ("true statement")
else:
    print ("false statement ")

false statement

In [ ]:
num = 114
if num%2:
    print (num," is odd")
else:
    print (num," is even")

114  is even

In [ ]:
print (input("enter a number"))

In [ ]:
num = int(input('enter a number'))
print (type(num))

<class 'int'>

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

12  is even

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

156  is even

# USING SPECIAL CHARACTERS

In [ ]:
print('It is "Python"')

It is "Python"

In [ ]:
print ("it's python")

it's python

In [ ]:
print ('it\'s "python"')

it's "python"

In [ ]:
print ("it's \"python\"")

it's "python"

In [ ]:
print ("\\n is for new line")

\n is for new line

In [ ]:
print ('it\'s "\\t" for tab space')

it's "\t" for tab space

In [ ]:
print ("/home/quastech/yash/pytho.ipynb")

/home/quastech/yash/pytho.ipynb

In [ ]:
print(r'\t\n')

\t\n

# TERNARY OPERATOR

In [ ]:
age = 10
t = 0
if age > 12:
    t = 10
else:
    t = 5
print(t)

5

In [ ]:
age = 19
t = 10 if age>12 else 5
print(t)

10

In [ ]:
num = 20
result= f"{num} is odd" if num%2 else f"{num} is even"
print(result)

20 is even

# SWAP PROGRAM

In [ ]:
a=10
b=20
c=a
a=b
b=c
print (a,b)

20 10

In [ ]:
a=10
b=20
a,b=b,a
print (a,b)

20 10

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a,b)

20 10

In [ ]:
# if-else

a, b = 10, 20

if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

20 is greater than 10

In [ ]:
# comparing 3 numbers using if-else

a, b, c = 40, 30, 20

if (a > b):
    if (a > c):
        print(f"{a} is greater than {b} and {c}")
else:
    if (b > c):
        print(f"{b} is greater than {a} and {c}")
    else:
        print(f"{c} is greater than {a} and {b}")

40 is greater than 30 and 20

In [ ]:
# comparing 3 numbers using elif

a, b, c = 40, 30, 50

if (a > b) and (a > c):
    print(f"{a} is greater than {b} and {c}")
elif (b > c):
    print(f"{b} is greater than {a} and {c}")
else:
    print(f"{c} is greater than {a} and {b}")

50 is greater than 40 and 30

# STRINGS

## STRING INDEXING AND SLICINGS

In [ ]:
s = "Hello World"
s[5]

' '

In [ ]:
s = 'Hello World'
s[0:11]

'Hello World'

In [ ]:
s[:]

'Hello World'

In [ ]:
s = "0123456789"
s[0:len(s):1]

'0123456789'

In [ ]:
s[-1]

'9'

In [ ]:
s[::-1]

'9876543210'

In [ ]:
print(s[0::2]) # print even indexes
print(s[1::2]) # print odd indexes
print(s[::-1]) # print in reverse

02468
13579
9876543210

In [ ]:
print(s[5:1:-1])

5432

In [ ]:
print(s[::-2]) # print odd indexes in reverse
print(s[-2::-2]) # print even indexes in reverse

97531
86420

In [ ]:
s = "abcdefghij" # practice
print(s[4::5])
print(s[::3])
print(s[5::-5])
print(s[7:0:-3])
print(s[:0:-4])

ej
adgj
fa
heb
jfb

## STRING METHODS

In [ ]:
# string methods

s = "Hello World"

print("uppercase:", s.upper())
print("lowercase:", s.lower())
print("title case:", s.title())
print("capitalised:", s.capitalize())
print("index of 'W':", s.index("W"))
print("found 'r' at:", s.find("r"))
print("count of 'l':", s.count("l"))
print("casefold:", s.casefold())
print("split using ' ':", s.split(" "))
print("replaced 'H' with 'j':", s.replace("H", "J"))
"=".join(['Hello', 'World', 'this', 'is', 'python'])

uppercase: HELLO WORLD
lowercase: hello world
title case: Hello World
capitalised: Hello world
index of 'W': 6
found 'r' at: 8
count of 'l': 3
casefold: hello world
split using ' ': ['Hello', 'World']
replaced 'H' with 'j': Jello World

'Hello=World=this=is=python'

In [ ]:
# string methods

s = "            Hello        world             "

print("removed whitespace from left only:", s.lstrip())
print("removed whitespace from right only:", s.rstrip())
print("removed whitespace from both sides:", s.strip())

removed whitespace from left only: Hello        world
removed whitespace from right only:             Hello        world
removed whitespace from both sides: Hello        world

In [ ]:
# string methods

s = "apple"

ljust_text = s.ljust(10, "*")
rjust_text = s.rjust(10, "-")
center_text = s.center(50, "~")

print(ljust_text)
print(rjust_text)
print(center_text)

apple*****
-----apple
~~~~~~~~~~~~~~~~~~~~~~apple~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# string methods

s = "hEllo WoRld"

print(s.swapcase())

HeLLO wOrLD

In [ ]:
# string methods

s = "Hello\n World\n this is Python"

print(s.splitlines())

['Hello', ' World', ' this is Python']

In [ ]:
# string methods

name = "Rohit"
age = 20
score = 123.123

sentence_1 = "Hi, I am {} and I am {} years old"
sentence_2 = "Hi, I am {var1} and I am {var2} years old"

print(sentence_1.format(name, age))
print(sentence_2.format(var1=name, var2=age))

Hi, I am Rohit and I am 20 years old
Hi, I am Rohit and I am 20 years old

## STRING CONCATENATION

In [ ]:
"hi""hello"

'hihello'

In [ ]:
"hi"+"hello"

'hihello'

In [ ]:
"Hi " * 3

'Hi Hi Hi '

## STRING FORMATTING

In [ ]:
name = "Yash"
age = 21
salary = 20000

In [ ]:
print ("my name is",name, "i am",age,"years old and my salary is", salary )

my name is Yash i am 21 years old and my salary is 20000

In [ ]:
print(f"my name is {name}, i am {age}, years old and my salary is{salary}")

my name is Yash, i am 21, years old and my salary is20000

In [ ]:
print ("""hello
       hi
       """)

hello
       hi

In [ ]:
# string formatting

print("hi, i am %s and i am %d years old and i scored %.2f" % (name, age, score))
print(f"Score: {score:.2f}")

hi, i am Rohit and i am 20 years old and i scored 123.12
Score: 123.12

# MATCH CASE

In [ ]:
# switch case version in python

num = 3
match num:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case _:
        print("not found")

three

# LOOPS

## FOR LOOP

In [ ]:
# for iterator

for i in "123":
    print("Hi!")

Hi!
Hi!
Hi!

In [ ]:
for i in range(10):
    print("hi!", i)

hi! 0
hi! 1
hi! 2
hi! 3
hi! 4
hi! 5
hi! 6
hi! 7
hi! 8
hi! 9

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

## WHILE LOOP

In [ ]:
i = 0

while (i < 4):
    print(i)
    i += 1

0
1
2
3

In [6]:
# print a table of any number

num = int(input("Enter a number: "))
i = 1
while i < 11:
    print(f"{num} x {i} = {num * i}")
    i += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
# DO NOT RUN THIS. IT WILL CRASH YOUR COMPUTER

# a = [1, 2]

# for i in a:
#     a.append(i + 1)

In [ ]:
print(a)

40

## BREAK AND CONTINUE

In [ ]:
# continue statement can be used to skip an iteration of a loop.

for i in range(10):
    if (i == 7 or i == 8):
        continue
    print(i)

0
1
2
3
4
5
6
9

In [ ]:
# using break statement to create a simple search algorithm.

colour = ['red', 'green', 'blue', 'purple']
for i, v in enumerate(colour):
    if (v == 'blue'):
        print(f'blue found at position {i}')
        break

blue found at position 2

## SOME PROGRAMS

In [ ]:
run = True

while run:
    d = float(input("enter a number: "))
    print(f"{d} * 2 = {d * 2}")
    run = bool(int(input("enter '0' to exist or any other number to continue: " )))

123.0 * 2 = 246.0
15.0 * 2 = 30.0
456.0 * 2 = 912.0

In [ ]:
# find certain characters and their index in a string
# 1. my way

s = "Python is a Programming language"
num = 0
for i in s.casefold():
    if i == 'g':
        print('g', num)
    if i == 'm':
        print('m', num)
    if i == 'p':
        print('p', num)
    num += 1

p 0
p 12
g 15
m 18
m 19
g 22
g 27
g 30

In [ ]:
# 2. using enumarate

s = "Python is a Programming language"

for index, ch in enumerate(s):
    if ch in "gmp":
        print(f"{ch} found at {index}")

g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 3a. using index to call for value (for loop)

s = "Python is a Programming language"

for i in range(len(s)):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")

P found at 0
P found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 3b. using index to call for value (while loop)

s = "Python is a Programming language"
i = 0

while i < len(s):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")
    i += 1

P found at 0
P found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 4. using external variable as an index

s = "Python is a Programming language"
index = 0

for ch in s.casefold():
    if ch in "gmp":
        print(f"{ch} found at {index}")
    index += 1

p found at 0
p found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# count the occurence of characters in a string

s = "Python is a Programming Language"

count = 0
ch_to_check = input('enter the char to count for:')

for ch in s:
    if ch_to_check.lower() == ch.lower():
        count += 1

print(f"{ch_to_check} occurred {count} times in the sentence.")

p occurred 2 times in the sentence.

In [ ]:
# write a program to check if the string is a palindrome

s = input("Enter a string: ")

if s == s[::-1]:
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

racecar is a palindrome

In [ ]:
# write a program to check if the string is a palindrome using basics

s_original = input("Enter a string: ")
s_reversed = ""

for ch in s_original:
    s_reversed = ch + s_reversed

if s_original == s_reversed:
    print(f"{s_original} is a palindrome")
else:
    print(f"{s_original} is not a palindrome")

madam is a palindrome

In [ ]:
# write a program to check if the string is a palindrome using while loop.

s_original = input("Enter a string: ")
s_reversed = ""

i = 0

while(i < len(s_original)):
    s_reversed = s_original[i] + s_reversed
    i += 1

if s_original == s_reversed:
    print(f"{s_original} is a palindrome")
else:
    print(f"{s_original} is not a palindrome")

racecar is a palindrome

In [ ]:
# write a program to check if the string is an anagram.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")

if sorted(s1) == sorted(s2):
    print(f"{s1} and {s2} are anagrams")
else:
    print(f"{s1} and {s2} are not anagrams")

silent and listen are anagrams

In [ ]:
# write a program to check if the string is an anagram using basics.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")
result = f"{s1} and {s2} are Anagrams"

if len(s1) != len(s2):
  result = f"{s1} and {s2} are not Anagrams"

for i in range(len(s1)):
    if s1.count(s1[i]) != s2.count(s1[i]):
        result = f"{s1} and {s2} are not Anagrams"
        break

print(result)

car and arc are Anagrams

In [ ]:
# write a program to check if the string is an anagram using dictionaries.

s1 = input("Enter the first string: ").lower()
s2 = input("Enter the second string: ").lower()

if len(s1) != len(s2):
    print(f"{s1} and {s2} are not anagrams")

char_count = {}

for ch in s1:
    char_count[ch] = char_count.get(ch, 0) + 1

is_anagram = True
for ch in s2:
    if ch not in char_count or char_count[ch] == 0:
        print(f"{s1} and {s2} are not anagrams")
        is_anagram = False
        break
    else:
        char_count[ch] -= 1

if is_anagram:
    print(f"{s1} and {s2} are anagrams")

car and arc are anagrams

In [ ]:
# write a program to count how many times each letter occured.

s = "Hello World!"

for ch in s.lower():
  count = 0
  for i in s.lower():
    if i == ch:
      count += 1
  print(f"{ch} occured {count} times")

h occured 1 times
e occured 1 times
l occured 3 times
l occured 3 times
o occured 2 times
  occured 1 times
w occured 1 times
o occured 2 times
r occured 1 times
l occured 3 times
d occured 1 times
! occured 1 times

# NON PRIMITIVE DATA

## LISTS

In [ ]:
# LISTS

a = []
print(type(a))

<class 'list'>

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [1, 'a', 2, 'b']

print(a, b, c)

[1, 2, 3] ['a', 'b', 'c'] [1, 'a', 2, 'b']

In [ ]:
a = list("abc"+"123")
a

['a', 'b', 'c', '1', '2', '3']

In [ ]:
my_list = [1, 1.5, "Hello", True, None, 2 + 3j, [1, 2, 3],
           (1, 2, 3), {1, 2, 3}, {1 : "one", 2 : "two"},
           print, tuple]
my_list

[1,
 1.5,
 'Hello',
 True,
 None,
 (2+3j),
 [1, 2, 3],
 (1, 2, 3),
 {1, 2, 3},
 {1: 'one', 2: 'two'},
 <function print>,
 tuple]

In [ ]:
print(my_list[10])

<built-in function print>

In [ ]:
my_list[10]("Hello World, this calls the print function")

Hello World, this calls the print function

In [ ]:
my_list[6][1] # 6th index has a list [1, 2, 3] and it's 1st index holds a value of 2.

2

In [ ]:
# iterating through the list

x = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(len(x)):
    print(i, x[i])

0 a
1 b
2 c
3 d
4 e
5 f

In [ ]:
# iterating through odd indexes of the list

x = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(1, len(x), 2):
    print(i, x[i])

1 b
3 d
5 f

### LIST METHODS

In [ ]:
# adds an element to the end of the list (at the -1 position specifically)

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.append('g')
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# inserts an element at a particular position

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.insert(0, 'A')
x

['A', 'a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# returns the index of the element

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.index("e")

4

In [ ]:
# removes and returns the elements at the specified index or index -1 by default

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.pop()

'f'

In [ ]:
# removes the element specified

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.remove('f')
print(x)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# reverses the entire list

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.reverse()
print(x)

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
# sorts the entire list

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.sort()
print(x)

['a', 'b', 'c', 'd', 'e', 'f']

### SOME PROGRAMS

In [ ]:
# add the letters 'a' to 'g' at the beginning of the list
# 1. using reversed string.

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for ch in s[::-1]:
    r.insert(0, ch)

print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# 2. using normal string

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for i in range(len(s)):
    r.insert(i, s[i])

print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# 3. using negative indexing

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for ch in s:
    r.insert(-4, ch)

print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# 4. using negative indexing and chr()

r = ['h', 'i', 'j', 'k']

for i in range(7):
    r.insert(-4, chr(97 + i))
    print(r)

['a', 'h', 'i', 'j', 'k']
['a', 'b', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'e', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'e', 'f', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# using the 'Python' way

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

r = list(s) + r
print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# remove certain elements from a list
# 1. using the remove() menthod

elements = ['a', 'b', 'c', 1, 'z']
r = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

for ch in elements:
    if ch in r:
        r.remove(ch)

print(r)

['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
#2. using the pop() method

elements = ['a', 'b', 'c', 1, 'z']
r = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

for ch in elements:
    if r.count(ch) > 0:
        r.pop(r.index(ch))
print(r)

['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# acessing the list using the enumerate() function

elements = ['a', 'b', 'c', 'd', 'e']

for index, value in enumerate(elements):
    print(index, value)

0 a
1 b
2 c
3 d
4 e

### MULTIDIMENSIONAL LISTS

In [ ]:
# multi-dimensional lists

m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

print(m[0])           # ['annabelle', 'bheem', 'charlie']
print(m[0][1])        # bheem
print(m[0][1][0])     # b
print(m[0][1][4::1])  # m
print(m[2][2][4:])    # chan
print(m[1][0][:4])    # dora

['annabelle', 'bheem', 'charlie']
bheem
b
m
chan
dora

In [ ]:
e = ['The', 'Moon']
e.insert(1, "Hello")
print(e)

['The', 'Hello', 'Moon']

In [ ]:
e = ['The', 'Moon']
e.append("Hello")
print(e)

['The', 'Moon', 'Hello']

In [ ]:
e = ['The', 'Moon']
e.extend(["this", "is", "great"])
print(e)

['The', 'Moon', 'this', 'is', 'great']

In [ ]:
e = ['The', 'Moon', 'this', 'is', 'great']
p = e
print("p =", p)     # same as e
p.pop()             # remove an element from 'p'
print("p =", p)     # 'p' changed
print("e =", e)     # 'e' changed too.
print(id(p), id(e)) # cause they transferred id instead.

p = ['The', 'Moon', 'this', 'is', 'great']
p = ['The', 'Moon', 'this', 'is']
e = ['The', 'Moon', 'this', 'is']
140347910439424 140347910439424

### COPYING LISTS

In [ ]:
e = ['The', 'Moon', 'this', 'is', 'great']
p = e.copy()        # using the list.copy() method
print("p =", p)     # same as e
p.pop()             # remove an element from 'p'
print("p =", p)     # 'p' changed
print("e =", e)     # 'e' didn't change.
print(id(p), id(e)) # cause they transferred 'Data' instead.

p = ['The', 'Moon', 'this', 'is', 'great']
p = ['The', 'Moon', 'this', 'is']
e = ['The', 'Moon', 'this', 'is', 'great']
140347905054080 140347905023232

In [ ]:
m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

# normal .copy() only changes the id for the main list and no the lists or other
# non-primitive lists inside it.

n = m.copy()
n[0][2] = "Toys" # modifying in 'n'

print(f"m = {m}\nn = {n}") # changed in both 'm' and 'n'
print(id(m), id(n))        # main id's are different
print(id(m[0]), id(n[0]))  # id's for inner lists remain the same

m = [['annabelle', 'bheem', 'Toys'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
n = [['annabelle', 'bheem', 'Toys'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
140347905112960 140347905023616
140347905025152 140347905025152

In [ ]:
# by using the deepcopy function from the copy module, it creates correct copies
# of all non primitive data.

import copy

m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

n = copy.deepcopy(m)
n[0][2] = "Toys"           # modifying in 'n'

print(f"m = {m}\nn = {n}") # changed in only 'n'
print(id(m), id(n))        # main id's are different
print(id(m[0]), id(n[0]))  # id's for inner lists are also different

m = [['annabelle', 'bheem', 'charlie'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
n = [['annabelle', 'bheem', 'Toys'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
140347905113152 140347905106176
140347905106496 140347905038464

In [ ]:
# difference between .reverse() method and reversed() function

# reversed() function does not modify the original list or data
# it only returns a copy of the operation it performs.

f = [1, 2, 3, 4, 5, 6]
print(f"f = {list(reversed(f))}")

f = [6, 5, 4, 3, 2, 1]

In [ ]:
# the .reversed() method modifies the original list

f = [1, 2, 3, 4, 5, 6]
f.reverse()
print(f"f = {f}")

f = [6, 5, 4, 3, 2, 1]

In [ ]:
# dynamically create this list using an empty list
# 1. My way

question = [[1, 2, 3, 4], [5 ,6 ,7 ,8 ,9]]
answer = []

temp = []

for i in range(1, 5):
  temp.append(i)
answer.append(list(temp))
temp.clear()

for i in range(5, 10):
  temp.append(i)
answer.append(list(temp))
temp.clear()

print(answer)

[[1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
# 2. using list comprehension

question = [[1, 2, 3, 4], [5 ,6 ,7 ,8 ,9]]
answer = []

answer.append([i for i in range(1, 5)])
answer.append([i for i in range(5, 10)])

print(answer)

[[1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
# 3. using list comprehension in a single line

answer = [[i for i in range(1, 5)], [i for i in range(5, 10)]]
print(answer)

[[1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
# return the position of the element in the matrix
# 1. my way

matrix = [
    [1, 3, 8],
    [9, 11, "Hello"],
    [13, 15, "World"]
]

element_to_find = input("Enter the element to find: ")
res = "not found"

if element_to_find.isnumeric():
    element_to_find = int(element_to_find)

for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        if matrix[i][j] == element_to_find:
            res = f"{element_to_find} found at {i}, {j}"

print(res)

8 found at 0, 2

## TUPLE

In [ ]:
a = (1, ) # tuple with a single element
print(a)

(1,)

In [ ]:
a = (1, 2, 3) # normal tuple
print(a)

(1, 2, 3)

In [ ]:
a = tuple() # create an empty tuple
print(a)
a = tuple([1, 2, 3]) # tuple using the tuple class
print(a)

()
(1, 2, 3)

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
a = tuple([1, 2, 3])
a.count(2)

1

In [ ]:
a = tuple([1, 2, 3])
a.index(3)

2

### PACKING UNPACKING

In [ ]:
# how to modify a tuple
# 1. type cast into another data type like a list

a = (1, 2, 3)
print(a) # before

a = list(a)
a.insert(len(a), 4)
a.insert(0, 0)
a = tuple(a)

print(a) # after

(1, 2, 3)
(0, 1, 2, 3, 4)

In [ ]:
# 2. using unpacking

a = (1, 2, 3)
a = tuple((0, *a, 4))
print(a)

(0, 1, 2, 3, 4)

In [ ]:
# packing

a, *b, c = 10, 20, 30, 40, 50
print(a, b, c)
print(a, *b, c)

10 [20, 30, 40] 50
10 20 30 40 50

In [ ]:
# modifying a mutable datatype inside a tuple

a = ([1, 2, 3], 5, 6, 7)
print(a[0])

a[0].append(4)
print(a)

[1, 2, 3]
([1, 2, 3, 4], 5, 6, 7)

In [ ]:
# set

s = {1, 2, 3, 4} # create a set
print(s)

{1, 2, 3, 4}

In [ ]:
s = set() # create an empty set
print(type(s))

<class 'set'>

In [ ]:
s = {"abc", 1, 2, 0, 0}
print(s) # set only stores unique values and stores them based on priority.

{0, 1, 'abc', 2}

In [ ]:
s = {[1, 2, 3], [4, 5, 6]} # set can't hold any unhashable data.

TypeError: unhashable type: 'list'

### HASH

In [ ]:
print(hash("abcdefghijklmnopqrstuvwxyz"))           # converts data into a hash code
print(hash("123321123213132132132132132132131321"))

7171678745284387942
-2756880065823499278

## SET

In [ ]:
s = {(1, [2], 3), 4, 5, 6} # can't hold any unhashable data even if inside an hashable form.
print(s)

TypeError: unhashable type: 'list'

In [ ]:
# set theory

a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}

# basic way to get the union of sets
u = {*a, *b, *c}

print(a, b, c, u)

{1, 2, 3} {2, 3, 5, 7} {4, 6} {1, 2, 3, 4, 5, 6, 7}

### SET METHODS

In [ ]:
# get union of sets using the union method
u = a.union(b.union(c))
print(u)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.issubset(u))          # true if all values of 'a' are in 'u'
print(u.issuperset(a))        # true if all values of 'u' are in 'a'
print(a.difference(b))        # returns 'a' - 'b'
print(a.difference_update(b)) # updates value of 'a' with 'a' - 'b'

True
True
{1}
None

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.isdisjoint(c))          # true if there are no common values between two sets
print(a.discard(1))             # removes an element if present
print(a.intersection(b))        # returns the commmon values
print(a.intersection_update(b)) # updates value of 'a' with 'a' intersection 'b'

True
None
{2, 3}
None

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.pop())                   # removes a random element
print(a.remove(2))               # removes the particular element
print(a.symmetric_difference(b)) # returns the uncommon values of 'a' and 'b'
print(a.update(b))

1
None
{2, 5, 7}
None

## DICTIONARY

In [ ]:
# dictionary
d = {
    1 : "One",
    2 : "two"
}

print(d[1]) # values can only be accessed by keys.

One

In [ ]:
d[2] = "Two"
print(d)   # updates the value of key if present.

d[3] = "Three"
print(d)   # else inserts a new key value pair.

{1: 'One', 2: 'Two'}
{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
# count the number of each character in a string by using a dictionary.

s = "Hello World"
ch_count = {}

for ch in s.lower():
    if ch in ch_count:
        ch_count[ch] += 1
    else:
        ch_count[ch] = 1

print(ch_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
s = """
Your Excellency, Honourable President,
Distinguished delegates from both nations,
Friends from the media,

Namaskar!
Kalimera!

At the very outset, I extend my heartfelt gratitude to the Honourable President for the warm welcome and gracious hospitality. Since the moment I set foot on the soil of Cyprus yesterday, the warmth and affection shown by the President and the people of this country have truly touched my heart.

A short while ago, I was conferred with a prestigious honour by Cyprus. This accolade is not mine alone  it is a tribute to the 140 crore Indians. It symbolises the enduring friendship between India and Cyprus. I express my sincere thanks, once again, for this honour.

Friends,

We attach great importance to our relations with Cyprus. Our shared commitment to values such as democracy and the rule of law forms the strong foundation of our partnership. The friendship between India and Cyprus is not one that has emerged out of circumstances, nor is it confined by borders.

It has withstood the test of time, again and again. In every era, we have upheld the spirit of cooperation, respect and mutual support. We honour each others sovereignty and territorial integrity.

Friends,

This visit marks the first by an Indian Prime Minister to Cyprus in over two decades. It presents a golden opportunity to script a new chapter in our bilateral relations. Today, the Honourable President and I held extensive discussions on all aspects of our partnership.

There are many similarities between Cypruss Vision 2035 and our vision of a Viksit Bharat 2047. Therefore, we shall work together to shape our shared future. To provide strategic direction to our partnership, we will develop a concrete roadmap for the next five years.

To further strengthen our defence and security cooperation, the bilateral Defence Cooperation Programme will focus on defence industry collaboration. Separate dialogues will be initiated on cyber and maritime security.

We are deeply grateful to Cyprus for its consistent support of Bharats fight against cross-border terrorism. To combat terrorism, drug trafficking and arms smuggling, a mechanism will be established for real-time information exchange between our respective agencies. We both agree that there is immense potential in enhancing bilateral trade and investment.

Yesterday, during my interaction with the Honourable President, I sensed great enthusiasm and synergy within the business community regarding our economic ties. We are working towards concluding a mutually beneficial India-EU Free Trade Agreement by the end of the year.

This year, the India-Cyprus-Greece Business and Investment Council has also been launched. Such initiatives will boost bilateral trade and investment between our countries.

We also held detailed discussions on expanding cooperation in areas such as technology, innovation, health, agriculture, renewable energy, and climate justice. We are encouraged by the growing popularity of yoga and Ayurveda in Cyprus.

Cyprus is a preferred destination for Indian tourists as well. We shall work towards establishing direct air connectivity to facilitate their travel. We have resolved to expedite the finalisation of a Mobility Agreement.

Friends,

Within the European Union, Cyprus is our trusted partner. We extend our best wishes for Cypruss upcoming Presidency of the European Union next year. We are confident that, under your leadership, India-EU relations will reach new heights.

Both nations share common views on the need to reform the United Nations to make it more representative. We are grateful to Cyprus for its support of Bharats bid for permanent membership in the UN Security Council.

We have expressed concern over ongoing conflicts in West Asia and Europe. The adverse impact of these conflicts is not limited to their respective regions alone. We both agree that this is not an era of war.

Dialogue and the restoration of stability are the calls of humanity. We also discussed enhancing connectivity with the Mediterranean region. We concur that the India-Middle East-Europe Economic Corridor will pave the way for peace and prosperity in the region.

Honourable President,

I extend a cordial invitation to you to visit Bharat. I look forward to the opportunity of welcoming you to Bharat at the earliest.

Once again, I sincerely thank you for the exceptional hospitality and honour.
"""

In [ ]:
word_count = {}

for word in s.lower().split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'your': 2, 'excellency,': 1, 'honourable': 5, 'president,': 3, 'distinguished': 1, 'delegates': 1, 'from': 2, 'both': 4, 'nations,': 1, 'friends': 1, 'the': 42, 'media,': 1, 'namaskar!': 1, 'kalimera!': 1, 'at': 2, 'very': 1, 'outset,': 1, 'i': 9, 'extend': 3, 'my': 4, 'heartfelt': 1, 'gratitude': 1, 'to': 22, 'president': 3, 'for': 11, 'warm': 1, 'welcome': 1, 'and': 24, 'gracious': 1, 'hospitality.': 1, 'since': 1, 'moment': 1, 'set': 1, 'foot': 1, 'on': 6, 'soil': 1, 'of': 20, 'cyprus': 7, 'yesterday,': 2, 'warmth': 1, 'affection': 1, 'shown': 1, 'by': 6, 'people': 1, 'this': 6, 'country': 1, 'have': 4, 'truly': 1, 'touched': 1, 'heart.': 1, 'a': 12, 'short': 1, 'while': 1, 'ago,': 1, 'was': 1, 'conferred': 1, 'with': 4, 'prestigious': 1, 'honour': 2, 'cyprus.': 4, 'accolade': 1, 'is': 9, 'not': 4, 'mine': 1, 'alone': 1, '': 1, 'it': 6, 'tribute': 1, '140': 1, 'crore': 1, 'indians.': 1, 'symbolises': 1, 'enduring': 1, 'friendship': 2, 'between': 5, 'india': 2, 'express': 1, 'sincere': 1, 'thanks,': 1, 'once': 2, 'again,': 2, 'honour.': 2, 'friends,': 3, 'we': 19, 'attach': 1, 'great': 2, 'importance': 1, 'our': 14, 'relations': 2, 'shared': 2, 'commitment': 1, 'values': 1, 'such': 3, 'as': 3, 'democracy': 1, 'rule': 1, 'law': 1, 'forms': 1, 'strong': 1, 'foundation': 1, 'partnership.': 2, 'one': 1, 'that': 4, 'has': 3, 'emerged': 1, 'out': 1, 'circumstances,': 1, 'nor': 1, 'confined': 1, 'borders.': 1, 'withstood': 1, 'test': 1, 'time,': 1, 'again': 1, 'again.': 1, 'in': 9, 'every': 1, 'era,': 1, 'upheld': 1, 'spirit': 1, 'cooperation,': 2, 'respect': 1, 'mutual': 1, 'support.': 1, 'each': 1, 'others': 1, 'sovereignty': 1, 'territorial': 1, 'integrity.': 1, 'visit': 2, 'marks': 1, 'first': 1, 'an': 2, 'indian': 2, 'prime': 1, 'minister': 1, 'over': 2, 'two': 1, 'decades.': 1, 'presents': 1, 'golden': 1, 'opportunity': 2, 'script': 1, 'new': 2, 'chapter': 1, 'bilateral': 4, 'relations.': 1, 'today,': 1, 'held': 2, 'extensive': 1, 'discussions': 2, 'all': 1, 'aspects': 1, 'there': 2, 'are': 7, 'many': 1, 'similarities': 1, 'cypruss': 2, 'vision': 1, '2035': 1, 'vision': 1, 'viksit': 1, 'bharat': 2, '2047.': 1, 'therefore,': 1, 'shall': 2, 'work': 2, 'together': 1, 'shape': 1, 'future.': 1, 'provide': 1, 'strategic': 1, 'direction': 1, 'partnership,': 1, 'will': 7, 'develop': 1, 'concrete': 1, 'roadmap': 1, 'next': 2, 'five': 1, 'years.': 1, 'further': 1, 'strengthen': 1, 'defence': 3, 'security': 2, 'cooperation': 2, 'programme': 1, 'focus': 1, 'industry': 1, 'collaboration.': 1, 'separate': 1, 'dialogues': 1, 'be': 2, 'initiated': 1, 'cyber': 1, 'maritime': 1, 'security.': 1, 'deeply': 1, 'grateful': 2, 'its': 2, 'consistent': 1, 'support': 2, 'bharats': 2, 'fight': 1, 'against': 1, 'cross-border': 1, 'terrorism.': 1, 'combat': 1, 'terrorism,': 1, 'drug': 1, 'trafficking': 1, 'arms': 1, 'smuggling,': 1, 'mechanism': 1, 'established': 1, 'real-time': 1, 'information': 1, 'exchange': 1, 'respective': 2, 'agencies.': 1, 'agree': 2, 'immense': 1, 'potential': 1, 'enhancing': 2, 'trade': 3, 'investment.': 1, 'during': 1, 'interaction': 1, 'sensed': 1, 'enthusiasm': 1, 'synergy': 1, 'within': 2, 'business': 2, 'community': 1, 'regarding': 1, 'economic': 2, 'ties.': 1, 'working': 1, 'towards': 2, 'concluding': 1, 'mutually': 1, 'beneficial': 1, 'india-eu': 2, 'free': 1, 'agreement': 1, 'end': 1, 'year.': 2, 'year,': 1, 'india-cyprus-greece': 1, 'investment': 2, 'council': 1, 'also': 3, 'been': 1, 'launched.': 1, 'initiatives': 1, 'boost': 1, 'countries.': 1, 'detailed': 1, 'expanding': 1, 'areas': 1, 'technology,': 1, 'innovation,': 1, 'health,': 1, 'agriculture,': 1, 'renewable': 1, 'energy,': 1, 'climate': 1, 'justice.': 1, 'encouraged': 1, 'growing': 1, 'popularity': 1, 'yoga': 1, 'ayurveda': 1, 'preferred': 1, 'destination': 1, 'tourists': 1, 'well.': 1, 'establishing': 1, 'direct': 1, 'air': 1, 'connectivity': 2, 'facilitate': 1, 'their': 2, 'travel.': 1, 'resolved': 1, 'expedite': 1, 'finalisation': 1, 'mobility': 1, 'agreement.': 1, 'european': 2, 'union,': 1, 'trusted': 1, 'partner.': 1, 'best': 1, 'wishes': 1, 'upcoming': 1, 'presidency': 1, 'union': 1, 'confident': 1, 'that,': 1, 'under': 1, 'leadership,': 1, 'reach': 1, 'heights.': 1, 'nations': 2, 'share': 1, 'common': 1, 'views': 1, 'need': 1, 'reform': 1, 'united': 1, 'make': 1, 'more': 1, 'representative.': 1, 'bid': 1, 'permanent': 1, 'membership': 1, 'un': 1, 'council.': 1, 'expressed': 1, 'concern': 1, 'ongoing': 1, 'conflicts': 2, 'west': 1, 'asia': 1, 'europe.': 1, 'adverse': 1, 'impact': 1, 'these': 1, 'limited': 1, 'regions': 1, 'alone.': 1, 'era': 1, 'war.': 1, 'dialogue': 1, 'restoration': 1, 'stability': 1, 'calls': 1, 'humanity.': 1, 'discussed': 1, 'mediterranean': 1, 'region.': 2, 'concur': 1, 'india-middle': 1, 'east-europe': 1, 'corridor': 1, 'pave': 1, 'way': 1, 'peace': 1, 'prosperity': 1, 'cordial': 1, 'invitation': 1, 'you': 3, 'bharat.': 1, 'look': 1, 'forward': 1, 'welcoming': 1, 'earliest.': 1, 'sincerely': 1, 'thank': 1, 'exceptional': 1, 'hospitality': 1}

In [ ]:
copy_dict = word_count.copy()

for k in copy_dict:
    if word_count[k] < 7:
        word_count.pop(k)

print(word_count)

{'the': 42, 'i': 9, 'to': 22, 'for': 11, 'and': 24, 'of': 20, 'cyprus': 7, 'a': 12, 'is': 9, 'we': 19, 'our': 14, 'in': 9, 'are': 7, 'will': 7}

### DICTIONARY METHODS

In [ ]:
# fromkeys() method is used to create a dict from an iterable
# and assigns null values to them.

s = "hello world"
char = dict.fromkeys(s)

print(char)

{'h': None, 'e': None, 'l': None, 'o': None, ' ': None, 'w': None, 'r': None, 'd': None}

In [ ]:
# .get() method is used to fetch a value but it allows us to set a default
# return value if not found.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.get(1))
print(num.get(5, "not found"))

one
not found

In [ ]:
# .setdefault allows us to set key value pairs only if they dont exist.
# if it exists then it doesn't update.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.setdefault(1, 999)
print(num)

num.setdefault(4, 'four')
print(num)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
# .items() returns a list of key value pairs in groups of tuples.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [ ]:
# .keys() returns a list of all keys.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.keys()

dict_keys([1, 2, 3])

In [ ]:
# .values() returns a list of all values.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.values()

dict_values(['one', 'two', 'three'])

In [ ]:
# .pop() removes and returns a random element.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.pop(3))
print(num)

three
{1: 'one', 2: 'two'}

In [ ]:
# .popitem() removes and returns a key-value pair in a tuple.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.popitem())

(3, 'three')

In [ ]:
num = {1: 'one', 2 : 'two', 3 : 'three'}

num.update({1: 'one', 2 : 'two', 3 : 'three', 4 : 'four'})
print(num)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
# In Python, iter() and next() are fundamental functions used to interact
# with iterators, which are objects that represent a stream of data and can
# be traversed one element at a time.

s = [101, 102, 103, 104]
i = iter(s)                # creates a manually iterable object.

print(next(i, "end"))      # next function retrieves the next value, and can take
print(next(i, "end"))      # a default value as any to avoid null error after the
print(next(i, "end"))      # iterable runs out of values.
print(next(i, "end"))
print(next(i, "end"))      # ran out of values.
print(next(i, "end"))      # ran out of values.

101
102
103
104
end
end

# FUNCTIONS

In [ ]:
# function definition

def greet():
    print("Hello World!")

greet()
print(greet)

Hello World!
<function greet at 0x7fa54b1adab0>

In [ ]:
# functions with parameters

def greet(name):
    print(f'Hello {name}!')

greet('Rohit')        # calling function with arguments
greet('Aakash')
greet('Yash')

Hello Rohit!
Hello Aakash!
Hello Yash!

In [ ]:
# function with return values

def sum(a, b):
    print("executable code after return")
    return a + b
    print("non executable code after return") # this line won't run if return statement is executed

print(sum(10, 24))  # prints the return value of sum()

executable code after return
34

In [ ]:
# use and modification of global variables in a function

a = 0

def set_value_of_a(value):
    global a
    a = value
    return True

print(set_value_of_a(123))
print(a)

True
123

In [ ]:
# write a function to print a table of any number

def print_table(num):
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

print_table(45)

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

## RECURSIVE FUNCTIONS

In [ ]:
# a recursive function is a function which calls itself.

i = 0
def recur():
    global i
    print(i)
    i += 1
    recur()

In [4]:
# DO NOT RUN THIS IT WILL GO INFINITE OR TO A LIMIT OF 2500 FUNCTION CALLS
# recur()

In [ ]:
# create a function to count upto a certain number using recursion.

def count(num):
    if (num <= 0):
        print(num)
        # raise Exception # use this line to see the call stack
        return None
    else:
        count(num -1)
        print(num)
        return None

count(11)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# create a recursive function to find the factorial.

def factorial(num):
    if num <= 0:
        return 1
    else:
        return num * factorial(num - 1)

factorial(5)

120

In [ ]:
# break statement can be used to break out of the nearest loop.

for i in range(10):
    if (i == 7):
        break
    print(i)

0
1
2
3
4
5
6

## MAP FUNCTION

In [ ]:
# use of map() function.

a = [1, 2, 3, 4, 5]
b = ["hello", "world", "this", "is", "python"]

c = []

def double(value):
    return value * 2

for i in a:
    c.append(double(i))

print(c)

[2, 4, 6, 8, 10]

In [ ]:
# use of map() function.

print(list(map(double, a)))
print(list(map(double, b)))

[2, 4, 6, 8, 10]
['hellohello', 'worldworld', 'thisthis', 'isis', 'pythonpython']

## LAMBDA FUNCTION

In [ ]:
# lambda function is a single line anonymous function which can be used for temporary return equations.

a = [1, 2, 3, 4, 5]

print(list(map(lambda value: value ** 2, a)))

[1, 4, 9, 16, 25]

In [ ]:
# lambda functions can also be stored in variables and hence can be deleted.

sum = lambda x, y: x + y

print(sum(5, 6))
del sum

11

In [ ]:
# lambda function can also be called upon.

print((lambda x : x * 2)(5))

10

In [ ]:
# lambda function can also take arbitrary arguments

arbitrary = lambda *x : x

print(arbitrary(1, 2, 3, 4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [ ]:
# convert the list of strings to upper case using a lambda function map.

b = ["hello", "world", "this", "is", "python"]

print(tuple(map(lambda s : s.upper(), b)))

('HELLO', 'WORLD', 'THIS', 'IS', 'PYTHON')

In [ ]:
# create the map() function.

def my_map(funct, collection):
    c = []
    for i in collection:
        c.append(funct(i))
    return c

a = [1, 2, 3, 4, 5]

my_map(lambda x : x ** 2, a)

[1, 4, 9, 16, 25]

In [ ]:
# the yield keyword holds all the return values and returns them at the end as a generator object.

def my_map(funct, collection):
    for i in collection:
        yield funct(i)

b = ["hello", "world", "this", "is", "python"]

print(list(my_map(lambda s : s.capitalize(), b)))

['Hello', 'World', 'This', 'Is', 'Python']

## FUNCTION INSIDE FUNCTIONS

In [ ]:
# a function can return another inner function.

# times() creates a function temp() and returns it.

def times(multiply_by):
    def temp(num):
        return num * multiply_by
    return temp

double = times(2) # double becomes temp()
triple = times(3)

print(double(5))
print(triple(6))

10
18

In [ ]:
# make print

def make_print():
    return print

my_print = make_print()

my_print("hellow world this shit is fking insane.")

my_print

hellow world this shit is fking insane.

In [ ]:
# write a function that returns a function to calculate powers.

def exponent(power_by):
    def temp(num):
        return num ** power_by
    return temp

square = exponent(2)
cube = exponent(3)

print(square(5))
print(cube(6))

25
216

In [ ]:
def outer(num, count):
    def inner():
        for i in range(num):
            print(i)
    for i in range(count):
        inner()
        # print() # comment out for new line.

outer(num = 3, count = 2)

0
1
2
0
1
2

In [ ]:
# goofy ahh test program to test nonlocal keyword.

def outer(num, count):
    result = {}

    def inner():
        nonlocal result
        result = []      # replaces the dictionary outside with a list
        for i in range(num):
            result.append(i)
        print(result)

    for i in range(count):
        inner()
        # print() # comment out for new line.
    return result

outer(num = 3, count = 3)

[0, 1, 2]
[0, 1, 2]
[0, 1, 2]

[0, 1, 2]

## FUNCTION PARAMETERS & ARGUMENTS

In [ ]:
# positional and keyword arguments.

def intro(name, age, location):
    return f"My name is {name}, I am from {location} and I am {age} years old."

# positional arguments. (when you know the order to pass values in.)
print(intro("Rohit", 20, "Nalasopara"))
print(intro(21, "Nalasopara", "Yash"))

# keyword arguments. (when you don't know the order of parameters.)
print(intro(age = 21, location = "Nalasopara", name = "Aakash"))
print(intro("piyush", location="NSP", age=21))

My name is Rohit, I am from Nalasopara and I am 20 years old.
My name is 21, I am from Yash and I am Nalasopara years old.
My name is Aakash, I am from Nalasopara and I am 21 years old.
My name is piyush, I am from NSP and I am 21 years old.

In [ ]:
def greet(name):
    """
    This function takes a name as input
    and returns a greeting message.
    """
    return f"Hello, {name}!"

# Calling the function normally
print(greet("Rohit"))

# Accessing the docstring using the help() function
help(greet)

# You can also access it directly
print("greet.__doc__", greet.__doc__)

Hello, Rohit!
Help on function greet in module __main__:

greet(name)
    This function takes a name as input
    and returns a greeting message.

greet.__doc__
    This function takes a name as input
    and returns a greeting message.

In [ ]:
# Function with arbitrary keyword arguments (collected as a dictionary)
def adv_intro(**data):
    """Returns a formatted intro using provided keyword arguments."""

    # Use .get() to safely access values with defaults
    return f"My name is {data.get('name', 'Josh')}, I am from {data.get('location', 'Mumbai')} and I am {data.get('age', 18)} years old."


# No arguments passed  all defaults used
print(adv_intro())

# Only 'name' provided
print(adv_intro(name="Rohit"))

# 'name' and 'location' provided
print(adv_intro(name="Yash", location="Nalasopara"))

# All expected keys + an unused extra key ('random')
print(adv_intro(name="Aakash", location="Nalasopara", age=21, random=None))

My name is Josh, I am from Mumbai and I am 18 years old.
My name is Rohit, I am from Mumbai and I am 18 years old.
My name is Yash, I am from Nalasopara and I am 18 years old.
My name is Aakash, I am from Nalasopara and I am 21 years old.

In [ ]:
# datatypes of parameters can be specified.
# datatype of return values can also be specified.
# although they don't actually stop the user from giving other datatypes.

def upper(value : str) -> str:
    return value.upper()

print(upper("hello world"))

HELLO WORLD

## SOME PROGRAMS

In [ ]:
# write a function to print fibonacci series.

def fibonacci(count : int):
    num1 = 0
    num2 = 1
    print(num1)
    print(num2)

    for i in range(count - 2):
        temp = num1
        num1 = num2
        num2 += temp
        print(num2)

fibonacci(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
# fibonacci series using lists.

def fib(n):
    res = [0, 1]
    for i in range(2, n):
        res.append(res[i - 1] + res[i - 2])
    return res

print(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# write a program to print fibonacci series using recursion

def fibonacci_recursive(n : int) -> int:
  if n <= 1:
    return n
  else:
    return(fibonacci_recursive(n-1) + fibonacci_recursive(n-2))

for i in range(10):
    print(fibonacci_recursive(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
# write a program to count vowel count in a sentence.
# 1. my way

def vowel_count(sentence : str) -> int:
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for i in sentence.lower():
        if i in vowels:
            count += 1
    return count

s = "Hello world this is python."
print(f"number of vowels in this sentence: {vowel_count(s)}")

number of vowels in this sentence: 6

In [ ]:
# 2. using comprehensions.

s = "Hello world this is python."
count = sum(1 for ch in s if ch in "aeiou")
print(count)  # Output: number of vowels

6

In [ ]:
# write a program to remove a particular string from a string.
# without .replace() method.

def remove_str(sentence : str, remove : str) -> str:
    result = ""

    i = 0
    while(i < len(sentence)):
        if (sentence[i : i + len(remove)] == remove):
            i += len(remove)
        else:
            result += sentence[i]
            i += 1

    return result

sentence = "hello world this is python"
remove = "wor"

print(remove_str(sentence, remove))

hello ld this is python

In [ ]:
# write a program to remove a particular string from a string.
# without .replace() method.

def remove_str(sentence, remove):
    for i, v in enumerate(sentence):
        if remove == sentence[i:i + len(remove)]:
            sentence = sentence[:i] + sentence[i + len(remove):]
    return sentence

sentence = "hello world this is python"
remove = "o"

print(remove_str(sentence, remove))

hell wrld this is pythn

In [26]:
# write a program to replace a particular string from a string.
# without .replace() method.

def repl_count(s : str, ch_to_repl : str, ch_repl_with : str, count : int = 1):
    for index, ch in enumerate(s):
        if (s[index:index + len(ch_to_repl)] == ch_to_repl and count):
            s = s[:index] + ch_repl_with + s[index + len(ch_to_repl):]
            count -= 1
    return s

print(repl_count("Hello World", 'l', 'lo', 2))

Heloloo World

In [ ]:
# write a program to write a string in a funny way.

import time

def build_string(str_to_build : str) -> None:
    char_array = "mnbvcxzlokpijuhygtfrdeswaqZAQWSXCDERFVBGTYHNMJUIKLOP"
    res = ""

    for ch_to_get in str_to_build:
        if ch_to_get == " ":
            res += " "
            continue
        for ch_to_compare in char_array:
            time.sleep(0.01)
            if ch_to_get == ch_to_compare:
                res += ch_to_compare
            if res == str_to_build:
                print(res)
                return
            print(res + ch_to_compare)

build_string("Hello World")

In [ ]:
# wap to find if the values in a list are divisible a number

def is_divisible_by(num : int, values : list):
    res = set()
    for value in values:
        if value % num == 0:
            res.add(value)
    return res

print(is_divisible_by(4, [12, 13, 14, 17, 20]))

{12, 20}

In [ ]:
# wap to find to return the smallest and largest divisible from a list.

def is_divisible_by(num : int, values : list):
    res = []
    smallest_divisor, largest_divisor = None, None

    for value in values:
        if value % num == 0:
            res.append(value)

    if res:
        smallest_divisor, largest_divisor = res[0], res[0]

    for i in res:
        if i < smallest_divisor:
            smallest_divisor = i
        if i > largest_divisor:
            largest_divisor = i

    return smallest_divisor, largest_divisor

print(is_divisible_by(4, [8]))

(8, 8)

In [ ]:
# write a program to calculate leap year

year = 2028

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print("leap year")
else:
    print("not leap year")

leap year

In [ ]:
# write a function to calculate leap year

def leap_year(year : int) -> bool:
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return True
    else:
        return False

leap_year(2028)

True

In [2]:
x = -1
bits = 8
print(f'{x & (2**bits - 1):0{bits}b}')

11111111

# OOPS

## CLASS & OBJECTS

In [2]:
# A class is a blueprint for creating objects.
# It defines the structure and behavior (properties and methods) that its objects will have.
class User:
    pass  # 'pass' means no properties or methods are defined yet

class Traveller:
    pass  # Another empty class for demonstration

In [3]:
# An object is an instance of a class.
# Objects hold actual data and can have attributes assigned to them.

# Creating an object 'yash' from the User class
yash = User()
yash.name = "Yash"         # Adding a 'name' attribute to yash
yash.contact = 123456      # Adding a 'contact' attribute to yash

# Creating another object 'aakash' from the User class
aakash = User()
aakash.name = "Aakash"
aakash.contact = 789123

In [4]:
# isinstance() checks if an object belongs to a specific class
print(isinstance(aakash, User))    # True: aakash is a User
print(isinstance(aakash, object))  # True: all Python classes inherit from 'object'

# Prints memory locations of the objects (their default representation)
print(yash, aakash)

# type() shows the class an object was created from
print(type(yash))  # <class '__main__.User'>

# Accessing and printing object attributes
print(aakash.name)    # Output: Aakash
print(yash.contact)   # Output: 123456

True
True
<__main__.User object at 0x7b4434e22c10> <__main__.User object at 0x7b4434e22650>
<class '__main__.User'>
Aakash
123456

## CONSTRUCTOR

In [4]:
# A class is a blueprint for creating objects.
class User:
    # __init__ is the constructor method called automatically when a new object is created.
    # 'self' refers to the current instance of the class.
    def __init__(self, n, c):
        self.name = n        # Assign name to the object
        self.contact = c     # Assign contact to the object

    # __str__ defines how the object is represented as a string (e.g., in print())
    def __str__(self):
        return f"name: {self.name} contact: {self.contact}"

In [ ]:
# Creating instances (objects) of the User class with initial values
yash = User("Yash", 123456)
aakash = User("Aakash", 456789)
rohit = User("Rohit", 789132)

In [ ]:
# When we print an object, __str__ is automatically called
print(yash)    # Output: name: Yash contact: 123456
print(aakash)  # Output: name: Aakash contact: 456789
print(rohit)   # Output: name: Rohit contact: 789132

name: Yash contact: 123456
name: Aakash contact: 456789
name: Rohit contact: 789132

In [8]:
# Print the names of all users, each on a new line
print(yash.name, aakash.name, rohit.name, sep="\n")

# Print the contact numbers of all users, each on a new line
print(yash.contact, aakash.contact, rohit.contact, sep="\n")

Yash
Aakash
Rohit
123456
456789
789132

## INHERITANCE

In [6]:
class User:
    def __init__(self, n, c):
        self.name = n
        self.contact = c

    def __str__(self):
        return f"name: {self.name} contact: {self.contact}"
    
# Define a new class 'Traveller' that inherits from the 'User' class
# It inherits all attributes and methods from User (like name, contact, __init__, and __str__)
class Traveller(User):
    pass  # No additional functionality for now; it behaves exactly like a User

In [7]:
# Create an instance of the Traveller class (inherits from User)
piyush = Traveller("Piyush", 321654)

# Print the object  uses the __str__ method from User
print(piyush)  # Output: name: Piyush contact: 321654

# Print the type of the object
print(type(piyush))  # Output: <class '__main__.Traveller'>

# Check if piyush is an instance of Traveller
print(isinstance(piyush, Traveller))  # True

# Check if piyush is also considered an instance of User (because of inheritance)
print(isinstance(piyush, User))       # True

name: Piyush contact: 321654
<class '__main__.Traveller'>
True
True

In [ ]:
# Base User class
class User:
    def __init__(self, username, password):
        self.username = username  # Set username
        self.password = password  # Set password

    def intro(self):
        return self.username  # Return the username as an introduction


# Customer class inherits from User
class Customer(User):
    def __init__(self, username, password, contact, address):
        super().__init__(username, password)  # Initialize username and password from User
        self.contact = contact  # Store customer's contact info
        self.address = address  # Store customer's address


# Create a Customer object
rohit = Customer("rdc", 123, 123, "abc")

# Call intro method inherited from User (returns username)
rohit.intro()  # Output: "rdc"

'rdc'

In [ ]:
# Employee class inherits from User
class Employee(User):
    def __init__(self, username, password, salary, age):
        super().__init__(username, password)  # Initialize username and password using User constructor
        self.salary = salary  # Store employee's salary
        self.age = age        # Store employee's age

    def __calculate_salary(self):
        # Private method to calculate salary after deductions (e.g. 10%)
        return self.salary * 0.9

    def make_payment(self):
        # Public method to return the payable salary after deduction
        return self.__calculate_salary()


# Create an Employee instance
yash = Employee("ysp", 123, 123, 123)

# Call make_payment to compute and return net salary
print(yash.make_payment())  # Output: 110.7 (90% of 123)

110.7

## CLASS METHODS

In [ ]:
class GymMember:
    trainer = "Bob"  # Class variable shared by all instances

    def __init__(self):
        pass  # Empty constructor; no per-instance attributes yet

    @classmethod
    def update_trainer(cls, trainer: str):
        cls.trainer = trainer  # Update the class-level trainer for all instances

In [ ]:
GymMember.trainer = "Bean"  # Set the class variable trainer to "Bean"

rohit = GymMember()
yash = GymMember()
aakash = GymMember()

print(rohit.trainer, yash.trainer, aakash.trainer)
# Output: Bean Bean Bean
# Explanation: All instances share the class variable initially.

rohit.trainer = "bingus"
# Creates an instance attribute 'trainer' for rohit only, shadows the class variable

print(rohit.trainer, yash.trainer, aakash.trainer)
# Output: bingus Bean Bean
# rohit uses its own instance attribute; others still use the class variable.

rohit.update_trainer("bingus for all")
# Uses the class method to change class variable trainer to "bingus for all"

print(rohit.trainer, yash.trainer, aakash.trainer)
# Output: bingus bingus for all bingus for all
# rohits instance attribute still shadows the class variable.
# yash and aakash reflect the updated class variable.

Bean Bean Bean
bingus Bean Bean
bingus bingus for all bingus for all

## STATIC METHODS

In [48]:
class MathOperations:
    @staticmethod
    def add(x, y):
        # This static method adds two numbers and returns the result
        return x + y

    @staticmethod
    def multiply(x, y):
        # This static method multiplies two numbers and returns the result
        return x * y

# Using static methods without creating an instance
sum_result = MathOperations.add(5, 3)
product_result = MathOperations.multiply(5, 3)

print(f"Sum: {sum_result}")        # Output: Sum: 8
print(f"Product: {product_result}") # Output: Product: 15

# Create an instance of the class
obj = MathOperations()

# Call the same static method using an instance
print(obj.add(5, 3))  # Output: 8

Sum: 8
Product: 15
8

## CUSTOM PACKAGES

In [ ]:
from project.user import User  # Import User class from project package

# Creating three User instances with username, password, and contact
rohit = User("Rohit", 123, 123)
yash = User("Yash", 456, 456)
aakash = User("Aakash", 789, 789)

created: Rohit, 123, 123
created: Yash, 456, 456
created: Aakash, 789, 789

In [ ]:
# Attempt to log in with correct username and password
rohit.login("Rohit", 123)

# Check and print authentication status (should be True after successful login)
print(rohit.is_authenticated())

# Log the user out
rohit.logout()

# Check and print authentication status again (should be False after logout)
print(rohit.is_authenticated())

login successful.
True
logged out successfully.: Rohit, 123, 123
False

In [ ]:
from project.customer import Customer, Coupon  # Importing Customer and Coupon classes from the project package

# Creating two coupon instances with a code and a value
first100 = Coupon("f100", 100)   # Coupon with code "f100" worth 100 units
upto70 = Coupon("upto70", 70)    # Coupon with code "upto70" worth 70 units

In [ ]:
# Create a Customer object with username, password, contact, and a list of coupons
piyush = Customer("Piyush", 123, 123, [first100, upto70])

# Print each coupon object in the customer's coupon list
# map(print, ...) prints each coupon; list(...) forces execution of map in Python 3
print(list(map(print, piyush.coupons)))

created: Piyush, 123, 123
f100 100
upto70 70
[None, None]

## CLASS INSIDE CLASS

In [ ]:
class Bike:
    def __init__(self, brand, price, type):
        # Initialize a Bike instance and print its details
        print(f'brand: {brand}, price: {price}, type: {type}')

    class Engine:
        def __init__(self, cc, cooling_system: bool):
            # Initialize an Engine instance and print its details
            print(f'cc: {cc}, cooling system: {cooling_system}')

In [ ]:
# Create a new Bike object with brand "Honda", price "50k", and type "regular"
hero_honda = Bike("Honda", "50k", "regular")

# Create an Engine object using the inner Engine class of Bike
# Pass in 1200cc and cooling_system as True
hero_honda.Engine(1200, True)

brand: Honda, price: 50k, type: regular
cc: 1200, cooling system: True

In [ ]:
class Car:
    def __init__(self, brand, price, type):
        # Initialize Car with brand, price and type, and print details
        print(f'brand: {brand}, price: {price}, type: {type}')

    def drive(self):
        # Method to simulate driving the car
        print("the car is now driving.")
         
    class Engine:
        def __init__(self, hp, piston_count):
            # Initialize Engine with horsepower and piston count, print details
            print(f'hp: {hp}, piston count: {piston_count}')

        def engine_start(self):
            # Method to indicate engine start
            print("engine started.")

        def engine_stop(self):
            # Method to indicate engine stop
            print("engine stopped.")

In [ ]:
toyota = Car("Toyota", "500k", "SUV")
toyota.engine = toyota.Engine(1500, 4)  # Store engine instance

toyota.engine.engine_start()
toyota.drive()
toyota.engine.engine_stop()

brand: Toyota, price: 500k, type: SUV
hp: 1500, piston count: 4
engine started.
the car is now driving.
engine stopped.

## ABSTRACT METHODS

In [5]:
from abc import ABC, abstractmethod

class Pizza_Hut(ABC):
    @abstractmethod
    def delivery(self, order, address):
        pass

    @abstractmethod
    def dine_in(self, booking_id, table_number):
        pass

In [ ]:
# Concrete subclass implementing the abstract base class Pizza_Hut
class Celebrity(Pizza_Hut):
    def delivery(self, order, address):
        # Implement delivery method: returns the order and delivery address
        return order, address
    
    def dine_in(self, booking_id, table_number):
        # Implement dine_in method: returns booking ID and table number
        return booking_id, table_number

In [ ]:
# Create an instance of the Celebrity class
bvi_west = Celebrity()

# Call the dine_in method with booking_id=123 and table_number=1223
# It returns a tuple with the booking ID and table number
print(bvi_west.dine_in(123, 1223))  # Output: (123, 1223)

(123, 1223)

# FILE HANDLING

In [ ]:
# Open the file "path from /Datasets folder" in read mode
f = open("../Datasets/Python/file/txt/file_read.txt", "r")

# Print the file object (this will print something like <_io.TextIOWrapper ...>, not the file content)
print(f)

<_io.TextIOWrapper name='files/file_read.txt' mode='r' encoding='cp1252'>

In [ ]:
# To actually print the content of the file, you need to read from it:
content = f.read()
print(content)

# Don't forget to close the file after reading
f.close()

hello world.
this is python.
how are
you today
you tomorrow
you yesterday
you day after tomorrow
you on the weekend

In [28]:
# Read the next single line from the open file object f
line = f.readline()

# Print the line read from the file (includes the newline character at the end)
print(line)

you on the weekend

In [34]:
# Read and return up to 2 bytes (characters) from the remaining lines of the file as a list of lines
lines = f.readlines(3)

# Print the list of lines read from the file (may be partial lines depending on byte limit)
print(lines)

['this is python.\n']

In [35]:
# Read all remaining lines from the open file object f
lines = f.readlines()

# Print the list of all lines read from the file
print(lines)

['how are\n', 'you today\n', 'you tomorrow\n', 'you yesterday\n', 'you day after tomorrow\n', 'you on the weekend']

In [36]:
# Close the open file object f
# This releases system resources associated with the file
f.close()

In [ ]:
# 'with' ensures the file is properly opened and automatically closed after this block.

with open('../Datasets/Python/files/txt/file_read.txt') as f:
    print(f.read(13))       # Read and print first 13 characters
    print(f.readline())     # Read and print next line
    print(f.readlines(3))   # Read and print lines totaling about 3 bytes
    print(f.readlines())    # Read and print all remaining lines

hello world.

this is python.

['how are\n']
['you today\n', 'you tomorrow\n', 'you yesterday\n', 'you day after tomorrow\n', 'you on the weekend']

In [ ]:
# write a program to write a table of any number to a file.

with open('../Datasets/Python/files/txt/create_table.txt', 'w') as f:
    table_of = int(input("enter a number to create a table of: "))

    for i in range(1, 11):
        f.write( f"{table_of} x {i} = {table_of * i}\n")

with open('../Datasets/Python/files/txt/create_table.txt', 'r') as f:
    print(f.read())

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [ ]:
with open('../Datasets/Python/files/txt/file_read.txt', 'r+') as f:
    print(f.read(13))       # Read and print first 13 characters
    print(f.readline())     # Read and print next line
    print(f.readlines(3))   # Read and print lines totaling about 3 bytes
    print(f.readlines())    # Read and print all remaining lines

    print(f'is this file writable? {f.writable()}')
    f.write("\nhello this is r+ mode")

# output:

# hello world.
# ...
# you day after tomorrow
# you on the weekend
# hello this is r+ mode

hello world.

well hello there.ow are

['you today\n']
['you tomorrow\n', 'you yesterday\n', 'you day after tomorrow\n', 'you on the weekend']
is this file writable? True

In [ ]:
with open('../Datasets/Python/files/txt/file_read.txt', 'w+') as f:
    print(f.read(13))       # Read and print first 13 characters
    print(f.readline())     # Read and print next line
    print(f.readlines(3))   # Read and print lines totaling about 3 bytes
    print(f.readlines())    # Read and print all remaining lines

    print(f'is this file writable? {f.writable()}')
    print(f'is this file readable? {f.readable()}')
    f.write("\nhello this is w+ mode")

[]
[]
is this file writable? True
is this file readable? True

In [ ]:
with open('../Datasets/Python/files/txt/file_read.txt', 'a') as f:
    f.write("\nthis is append mode.")
    f.write("\nappend pointer goes to the end.")

# output:

# hello world.
# end
# this is append mode.
# append pointer goes to the end.

In [ ]:
with open('../Datasets/Python/files/txt/file_read.txt', 'a+') as f:
    f.write("\nthis is append mode.")
    f.write("\nappend pointer goes to the end.")

# output:

# hello world.
# end
# this is append mode.
# append pointer goes to the end.
# this is append mode.
# append pointer goes to the end.

In [ ]:
with open('../Datasets/Python/files/txt/file_read_x_mode.txt', 'x') as f:
    f.write("hello this is x or x+ mode")

    # if file already exists it will throw error.
    # if not then it will write to it.

FileExistsError: [Errno 17] File exists: 'files/txt/file_read_x_mode.txt'

In [ ]:
with open('../Datasets/Python/files/txt/file_read.txt', 'r+') as f:
    # Move the file pointer to the 14th character (offset 13, from start)
    f.seek(13, 0)

    # Overwrite from this position with the string "well hello there."
    f.write("well hello there.")

# output:

# hello world.
# well hello there.ow are
# you today

In [ ]:
with open('../Datasets/Python/files/txt/hello.txt', 'r+') as file:
    text = file.read()
    print(text)
    res = ''

    for word in text.split():
        if word == "there!":
            res += "world!"
        else:
            res += word
        res += ' '

    file.seek(0, 0)
    file.truncate()
    file.write(res)

hello world!

In [ ]:
with open('../Datasets/Python/files/txt/file_read.txt', 'r+') as f:
    f.seek(13)
    f.write("well hello there.")
    f.truncate()  # Cuts off any remaining characters after the written part

In [ ]:
# Open a file for writing ('w'), creates or overwrites 'files/txt/hello.txt'
file = open("../Datasets/Python/files/txt/hello.txt", 'w')

# Write the string "hello there!" to the file
file.write("hello there!")

file.flush()  # Force the internal buffer to write its contents to disk immediately
# file.close() # f.close automatically acts as flush when called

## CSV FILES

In [ ]:
import csv  # Import the csv module for CSV file handling

# Open a CSV file for writing ('w'), with newline='' to avoid blank lines on Windows
with open('../Datasets/Python/files/csv/my_csv.csv', 'w', newline='') as f:
    writer = csv.writer(f)  # Create a CSV writer object

    # Write the header row to the CSV file
    writer.writerow(['1st column', '2nd column', '3rd column', '4th column'])

    # Write multiple data rows to the CSV file
    writer.writerows([
        ['this', 'is', '1st', 'row'],
        ['this', 'is', '2nd', 'row'],
        ['this', 'is', '3rd', 'row'],
        ['this', 'is', '4th', 'row']
    ])

In [ ]:
import csv  # Import the csv module

# Open the CSV file for reading ('r')
with open('../Datasets/Python/files/csv/my_csv.csv', 'r') as f:
    reader = csv.reader(f)  # Create a CSV reader object

    # Iterate through each row and print it as a list of values
    for row in reader:
        print(row)

[['1st column', '2nd column', '3rd column', '4th column'], ['this', 'is', '1st', 'row'], ['this', 'is', '2nd', 'row'], ['this', 'is', '3rd', 'row'], ['this', 'is', '4th', 'row']]

## JSON TO CSV USING PYTHON ASSIGNMENT

In [ ]:
import json
import csv

json_file = '../Datasets/Python/files/json/fakestoreapi.json'
csv_file_name = '../Datasets/Python/files/csv/fakestoreapi_filtered.csv'

with open('../Datasets/Python/files/json/fakestoreapi.json', 'r', encoding='utf-8') as file:
    json_data = json.load(file)

selected_columns = ['id', 'title', 'price', 'description']

filtered_data = []
for item in json_data:
    filtered_item = {key: item.get(key, '') for key in selected_columns}
    filtered_data.append(filtered_item)

# Write filtered data to a CSV file

with open(csv_file_name, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.DictWriter(file, fieldnames=selected_columns)
    writer.writeheader()
    writer.writerows(filtered_data)

print(f"Data with columns {selected_columns} has been written to '{csv_file_name}'")

Data with columns ['id', 'title', 'price', 'description'] has been written to 'files/csv/fakestoreapi_filtered.csv'

In [ ]:
import json
import csv

json_file = '../Datasets/Python/files/json/fakestoreapi.json'
csv_file = '../Datasets/Python/files/csv/fakestoreapi_full.csv'

with open(json_file, encoding = 'utf-8') as file:
    json_data = json.load(file)

def flatten_dict(data : dict) -> dict:
    flattened_dict = {}
    for key, value in data.items():
        if isinstance(value, dict):
            for inner_key, inner_value in value.items():
                flattened_dict[f'{key}_{inner_key}'] = inner_value
        else:
            flattened_dict[key] = value
    
    return flattened_dict

all_keys = []
processed_data = []

for item in json_data:
    flattened_dict = flatten_dict(item)
    processed_data.append(flattened_dict)
    for key in flattened_dict.keys():
        if key not in all_keys:
            all_keys.append(key)
    
with open(csv_file, 'w', newline = '',encoding = 'utf-8') as file:
    writer = csv.DictWriter(file, all_keys)
    writer.writeheader()
    writer.writerows(processed_data)
    print(f'JSON data from {json_file} successfully written at {csv_file}')

JSON data from C:\Users\HP\Desktop\DATA\da-ds-notes\python\files\json\fakestoreapi.json successfully written at C:\Users\HP\Desktop\DATA\da-ds-notes\python\files\csv\fakestoreapi_full.csv

In [ ]:
import json
import csv

json_file = '../Datasets/Python/files/json/dummyjson.json'
csv_file = '../Datasets/Python/files/csv/dummyjson_full.csv'

with open(json_file, encoding = 'utf-8') as file:
    json_data = json.load(file)['products']

def flatten_dict(data : dict) -> dict:
    flattened_dict = {}
    for key, value in data.items():
        if isinstance(value, dict):
            for inner_key, inner_value in value.items():
                flattened_dict[f'{key}_{inner_key}'] = inner_value
        else:
            flattened_dict[key] = value
    
    return flattened_dict

all_keys = []
processed_data = []

for item in json_data:
    flattened_dict = flatten_dict(item)
    processed_data.append(flattened_dict)
    for key in flattened_dict.keys():
        if key not in all_keys:
            all_keys.append(key)
    
with open(csv_file, 'w', newline = '',encoding = 'utf-8') as file:
    writer = csv.DictWriter(file, all_keys)
    writer.writeheader()
    writer.writerows(processed_data)
    print(f'JSON data from {json_file} successfully written at {csv_file}')

JSON data from C:\Users\HP\Desktop\DATA\da-ds-notes\python\files\json\dummyjson.json successfully written at C:\Users\HP\Desktop\DATA\da-ds-notes\python\files\csv\dummyjson_full.csv

# MODULES

## MATH MODULE

In [ ]:
import math  # Import the math module for mathematical operations

print(math.hypot(3, 4))        # Calculate Euclidean norm (sqrt(3^2 + 4^2)), returns 5.0[1]
print(math.degrees(2))         # Convert 2 radians to degrees, returns ~114.59[1][4]
print(math.radians(180))       # Convert 180 degrees to radians, returns pi (~3.1416)[1][4]
print(math.log(2))             # Natural log (base e) of 2, returns ~0.6931[4][6]
print(math.log2(8))            # Base-2 log of 8, returns 3.0[1][4]
print(math.pow(2, 3))          # 2 raised to the power of 3 (2^3), returns 8.0[1][3]
print(math.sqrt(625))          # Square root of 625, returns 25.0[1][4][6]
print(math.factorial(4))       # Factorial of 4 (4*3*2*1), returns 24[4][6]
print(math.prod([1, 2, 3, 4, 5])) # Product of all elements in list, returns 120[1]
print(math.ceil(57.123))       # Round up to nearest integer, returns 58[1][5]
print(math.floor(57.124))      # Round down to nearest integer, returns 57[1][5]
print(math.pi)                 # Mathematical constant  (3.141592...)[1]
print(math.exp(1))             # e to the power of 1, returns 2.7182818...[1][4]

5.0
114.59155902616465
3.141592653589793
0.6931471805599453
3.0
8.0
25.0
24
120
58
57
3.141592653589793
2.718281828459045

## RANDOM MODULE

In [6]:
import random as r  # Import the random module with alias 'r'

print(r.random())                        # Random float in [0.0, 1.0)
print(r.randint(1, 10))                  # Random integer between 1 and 10 (inclusive)
print(r.randrange(0, 1000, 2))           # Random even number from 0 up to 1000 (step 2)
print(r.choice([1, 2, 3, 4, 5, "hello", "world"]))  # Randomly pick one item from the list
print(r.choices([1, 2, 3, 4, 5, "hello", "world"])) # Randomly pick one item, returns a list
print(r.sample([1, 2, "hello", 3, 4, "world", 5, 6], 2))  # Pick 2 unique random items from the list

list_1 = [1, 2, 3, 4, 5, 6]
print(r.shuffle(list_1))   # Shuffle list_1 in place; returns None
print(list_1)              # Print the shuffled list

0.4852810386491325
1
72
3
[2]
[2, 4]
None
[2, 1, 4, 6, 5, 3]

## TIME MODULE

In [5]:
import time as t  # Import time module with alias 't'

print(t.sleep(1 / 5))  
# Pause execution for 0.2 seconds (1/5 second)
# sleep() returns None, so this prints: None

print("hello world after 0.2 seconds")
# Prints the message after the sleep delay

print(t.localtime())
# Prints the current local time as a time.struct_time object

print(t.strftime("time: %H:%M:%S, date: %d-%m-%y", t.localtime()))
# Formats and prints the current local time in "time: HH:MM:SS, date: DD-MM-YY" format

print(t.asctime())
# Prints a readable string representation of current local time,
# e.g. 'Tue Jul 29 11:00:00 2025'

None
hello world after 0.2 seconds
time.struct_time(tm_year=2025, tm_mon=7, tm_mday=29, tm_hour=11, tm_min=13, tm_sec=5, tm_wday=1, tm_yday=210, tm_isdst=0)
time: 11:13:05, date: 29-07-25
Tue Jul 29 11:13:05 2025

## FUNCTOOLS

In [9]:
from functools import reduce

# Reduce applies the lambda cumulatively to the items from left to right:
# here it sums all values: 1 + 2 + 3 + 4 = 10
print(reduce(lambda a, b: a + b, [1, 2, 3, 4]))  # Output: 10

# The following line is commented out because reduce requires a function with two parameters,
# but the lambda here takes only one argument, causing a TypeError if run.
# print(reduce(lambda x: x ** 2, [1, 2, 3, 4]))

# Filter returns only elements where the lambda condition is True,
# here filtering numbers greater than 500
print(list(filter(lambda x: x > 500, [1000, 2987, 23, 45, 235, 9875, 234])))
# Output: [1000, 2987, 9875]

# Filter to get only odd numbers from the list
odd_list = list(filter(lambda x: x % 2 != 0, [1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(odd_list)  # Output: [1, 3, 5, 7, 9]

# Map applies the lambda function to each element, here squaring each number
print(list(map(lambda x: x ** 2, [1, 2, 3, 4, 5, 6, 7, 8, 9])))
# Output: [1, 4, 9, 16, 25, 36, 49, 64, 81]

10
[1000, 2987, 9875]
[1, 3, 5, 7, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

# COMPREHENSION

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
old_res = []

for i in numbers:
    if i % 2:
        old_res.append((i, "odd"))
    else:
        old_res.append((i, "even"))

print(old_res)

[(1, 'odd'), (2, 'even'), (3, 'odd'), (4, 'even'), (5, 'odd'), (6, 'even'), (7, 'odd'), (8, 'even'), (9, 'odd')]

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Create a new list of tuples: (number, 'odd') if odd, else (number, 'even')
new_res = [(i, 'odd') if i % 2 else (i, 'even') for i in numbers]

print(new_res)  # Print the list of number-parity tuples

[(1, 'odd'), (2, 'even'), (3, 'odd'), (4, 'even'), (5, 'odd'), (6, 'even'), (7, 'odd'), (8, 'even'), (9, 'odd')]

In [14]:
# write a program to calc leap years using comprehension

years = [1600, 1800, 2024, 2025]

leap_years = [(year, "leap year") if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 else (year, "not a leap year") for year in years]
print(leap_years)

[(1600, 'leap year'), (1800, 'not a leap year'), (2024, 'leap year'), (2025, 'not a leap year')]

In [ ]:
# write a program to check if numbers in a list are prime or not.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

res = []

for i in numbers:
    divisible = False
    for j in range(2, i):
        if i % j == 0:
            divisible = True
            break
    if not divisible:
        res.append(i)
        
print(res)

[1, 2, 3, 5, 7]

In [2]:
# write a program to check if the numbers in a list are prime or not using comprehensions.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

prime_numbers = [(num, "prime") if len([i for i in range(2, num) if num % i == 0]) == 0 else (num, "not prime") for num in numbers]
print(prime_numbers)

[(1, 'prime'), (2, 'prime'), (3, 'prime'), (4, 'not prime'), (5, 'prime'), (6, 'not prime'), (7, 'prime'), (8, 'not prime'), (9, 'not prime')]

In [ ]:
# write a comprehension to get all aalphabets and the char codes.

res = [(chr(i), i) for i in range(65, 91)]
print(res)

[('A', 65), ('B', 66), ('C', 67), ('D', 68), ('E', 69), ('F', 70), ('G', 71), ('H', 72), ('I', 73), ('J', 74), ('K', 75), ('L', 76), ('M', 77), ('N', 78), ('O', 79), ('P', 80), ('Q', 81), ('R', 82), ('S', 83), ('T', 84), ('U', 85), ('V', 86), ('W', 87), ('X', 88), ('Y', 89), ('Z', 90)]

# PATTERNS

In [ ]:
# *
# * *
# * * *
 
with open("../Datasets/Python/files/txt/pattern.txt", 'w') as file:
    res = [list('*' * i) for i in range (1, 6)]
    for row in res:
        for element in row:
            file.write(element)
        file.write('\n')

In [ ]:
# * * *
# * * *
# * * *

def create_square(side):
    for i in range(side):
        for j in range(side):
            print('* ', end = '')
        print()

create_square(3)

In [ ]:
# *
# * *
# * * *

def create_stair(levels):
    for i in range(1, levels + 1):
        for j in range(0, i):
            print('* ', end = '')
        print()

create_stair(3)

*
* *
* * *

In [ ]:
# * * *
# * *
# *

def create_stair_inv(levels):
    for i in range(1, levels + 1):
        for j in range(0, levels + 1 - i):
            print('* ', end = '')
        print()

create_stair_inv(3)

* * *
* *
*

In [ ]:
#   *
#  * *
# * * *
#   *
#   *

def create_tree(levels, bark):
    for i in range(1, levels + 1):
        for k in range(0, levels - i):
            print(" ", end = '')
        for j in range(0, i):
            print('* ', end = '')
        print()

    for i in range(bark):
        for j in range(levels - 3):
            print(" ", end = '')
        print("* * *")

create_tree(15, 10)

              *
             * *
            * * *
           * * * *
          * * * * *
         * * * * * *
        * * * * * * *
       * * * * * * * *
      * * * * * * * * *
     * * * * * * * * * *
    * * * * * * * * * * *
   * * * * * * * * * * * *
  * * * * * * * * * * * * *
 * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
            * * *
            * * *
            * * *
            * * *
            * * *
            * * *
            * * *
            * * *
            * * *
            * * *

In [28]:
def create_pyra(levels):
    for i in range(levels):
        for j in range(levels - i):
            print(" ", end = '')
        for k in range(i + 1):
            print("# ", end = '')
        print()

create_pyra(5)

     #
    # #
   # # #
  # # # #
 # # # # #

In [23]:
def create_pyra_inv(levels):
    for i in range(levels):
        for j in range(i):
            print(" ", end = '')
        for k in range(levels - i):
            print("# ", end = '')
        print()

create_pyra_inv(5)

# # # # #
 # # # #
  # # #
   # #
    #

In [ ]:
def create_alpha_pyra(levels):
    alpha_code = 65
    for i in range(1, levels + 1):
        for k in range(0, levels - i):
            print(" ", end = '')
        for j in range(0, i):
            print(chr(alpha_code) + ' ', end = '')
            alpha_code += 1
        print()

create_alpha_pyra(4)

   A
  B C
 D E F
G H I J

In [ ]:
#   *
#  * *
# * * *
#   *
#   *

def create_tree_file(levels, bark, char):
    res = []
    for i in range(1, levels + 1):
        row = ''
        for k in range(0, levels - i):
            row += " "
        for j in range(0, i):
            row += char + " "
        res.append(row)

    for i in range(bark):
        row = ''
        for j in range(levels - 3):
            row += " "
        row += f'{char} {char} {char}'
        res.append(row)

    return res

In [ ]:
# create tree pattern in a text file.

with open('../Datasets/Python/files/txt/pattern.txt', 'w') as file:
    tree = create_tree_file(15, 10, "#")
    for row in tree:
        file.write(row + "\n")

In [ ]:
# create a pattern in a csv file.

import csv

with open('../Datasets/Python/files/csv/pattern.csv', 'w', newline = "") as file:
    tree = create_tree_file(15, 10, "#")
    writer = csv.writer(file)
    writer.writerows(tree)